{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('https://images5.alphacoders.com/677/677631.jpg');height:45rem"
>

          <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />

  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if msg_sent: %}
          <h2 style="color:green" >Successfully sent your message</h2>
          {% else: %}
          <h1>Contact Me</h1>
          {% endif %}
          <span class="subheading">Have questions? I have answers.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4" >
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <div class="my-5" >
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * Simplified SB Contact Form for the Tutorial* *-->
          <form
            id="contactForm"
            name="sentMessage"
            action="{{ url_for('contact') }}"
            method="post"
          >
            <div class="form-floating position-" >
              <input
                class="form-control text-white"
                id="name"
                name="name"
                type="text"
                value="{{current_user.name}} {{ current_user.surname}}"
                placeholder="Enter your name..."
                required
              style="background:rgb(130, 18, 32)"/>
              <label class="text-white" for="name">Compleat Name</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control text-white"
                id="email"
                name="email"
                type="email"
                value="{{current_user.email}}"
                placeholder="Enter your email..."
                required
              style="background:rgb(130, 18, 32)"/>
              <label class="text-white" for="email">Email address</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control text-white"
                id="phone"
                name="phone"
                type="tel"
                value="{{current_user.tel}}"
                placeholder="Enter your phone number..."
                required
              style="background:rgb(130, 18, 32)"/>
              <label class="text-white" for="phone">Phone Number</label>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control text-white"
                id="message"
                name="message"
                placeholder="Enter your message here..."
                required
                style="height: 12rem ;background:rgb(130, 18, 32)"
             ></textarea>
              <label class="text-white" for="message">Message</label>
            </div>
            <br />
            <button
              class="btn btn-danger text-uppercase"
              id="submitButton"
              type="submit"
            >
              Send The Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
